@import "reset.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: arial, sans-serif;
  font-size: 13px;

  /* Define Custom Colors */
  --darkgray: #5f6368;
  --gray: #dadce0;
  --lightgray: #dfe1e5;
  --google-red: #db3236;
  --google-blue: #4885ed;
  --google-green: #3cba54;
  --google-yellow: #f4c20d;
}

@media (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  height: 48px;
}

main {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

footer p, footer a {
  color: rgba(0,0,0,.54);
}

/* Style Header elements */
.navbar {
  margin: 6px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  padding-left: 15px;
}

.menu-icon {
  height: 1.2em;
  width: 1.2em;
  padding-left: 15px;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
}

.menu-icon__dot {
  background-color: var(--darkgray);
  border-radius: 50%;
}

.avatar-container {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  background: conic-gradient(var(--google-red) 45deg, var(--google-blue) 135deg, var(--google-green) 225deg, var(--google-yellow) 315deg, var(--google-red) 360deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  border: 2px solid #FFF;
}

/* Style Main elements */
@media (max-width: 320px) {
  .google-logo {
    padding-top: 15px;
    max-width: 70vw;
    height: auto;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbox-container {
  width: 50%;
  height: 46px;
  margin: 20px 0;
  border-radius: 25px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbox {
  width: 90%;
  font-size: 16px;
  color: rgba(0,0,0,.87);
  border: none;
  padding-left: 20px;
}

@media (max-width: 800px) {
  .searchbox-container {
    width: 80%;
  }
}

@media (min-width: 1600px) {
  .searchbox-container {
    width: 33%;
  }
}

.searchbox-container:hover {
  box-shadow: 0 1px 5px var(--lightgray);
  border-color: var(--gray);
}

input.searchbox:focus {
  /* Remove focus highlight */
  outline: none;
}

.search-icon {
  transform: rotate(45deg);
  display: flex;
  align-items: center;
}

.search-icon__circle {
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  border: 1px solid var(--darkgray);
}

.search-icon__line {
  height: 2px;
  width: 0.5em;
  background-color: var(--darkgray);
}

.btn-container {
  height: 70px;
  width: 100%;
  text-align: center;
}

.btn-search {
  display: inline-block;
  padding: 0 16px;
  margin: 11px 4px;
  background-color: #f8f9fa;
  /* Prevent movement of button when hover adds border */
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  vertical-align: middle;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 3em;
  color: #3c4043;
}

.btn-container a:hover, button:hover {
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--gray);
}

.language-options-container {
  padding-top: 20px;
  padding-bottom: 30px;
}

.language-options-container a {
  color: #1a0dab;
  padding: 0 3px;
}

.language-options-container a:visited {
  color: #609;
}

/* Style Footer elements */
.country-name {
  padding: 15px 30px;
  border-bottom: 1px solid var(--gray);
  font-size: 1.2em;
}

.sitelinks-container {
  display: flex;
  justify-content: space-between;
}

.sitelinks-container a {
  display: inline-block;
  padding: 15px;
  font-size: 1.1em;
}

.sitelinks-1 {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.sitelinks-2 {
  padding-right: 20px;
}

@media (max-width: 800px) {
  .sitelinks-container {
    flex-direction: column;
  }
  .sitelinks-1, .sitelinks-2 {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
